<%- include('layout/header') %>
 <!-- Fine dell' header -->

<div class='container'>
  <div class="row my-4">
    <div class="col-lg-12">
       <!-- Pulsante per visualizzare la mappa -->
      <% if (message) { %> 
        <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
          <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
          <i class="fas fa-exclamation-circle me-2"></i>   
          <strong><%= message.message %></strong>     
        </div>
             <% } %>
             <% if (!user) { %>
              <div class="container text-center my-5">
                <h2>Select your access area</h2>
                <div class="d-flex justify-content-center gap-3 mt-4">
                 
             <!-- <a href="/login?role=office" class="btn btn-primary btn-lg px-4">Office</a> -->

                  <a href="/login?role=field" class="btn btn-success btn-lg px-4">Field</a>
                  <a href="/login?role=admin" class="btn btn-danger btn-lg px-4">Admin</a>
                </div>
              </div>
          <div class="container text-center my-5">
              <h2>Register as </h2>
              <div class="d-flex justify-content-center gap-3 mt-4">
                <!--<a href="/signup?role=office" class="btn btn-outline-primary px-4">Office</a> -->
                <a href="/signup?role=field" class="btn btn-outline-success px-4">Field</a>
              
              </div>
          </div>

              <% } %>
              
      <div class="table-responsive">
        <% if (user) { %>
          <h2>Welcome, <%= user.email %>!</h2>
        
          <a href="/logout" class="btn btn-secondary">Logout</a>
        <% } else { %>
          <a href="/login">Se connecter</a>
          <a href="/signup">S'inscrire</a>
        <% } %>
         <!-- Verifico se ci sono dei punti -->
      
      </div>
    </div>
  </div>
</div>

<%- include('layout/footer') %>